.api{
  display: inline-block;
  margin: 60px;
}
.imgs{
  height: 100px;
  border: 2px solid gray;
}
.btn{
  height: 40px;
  position: fixed;
  top: 100px;
  left: 50%;
  background-color: seagreen;
  border: none;
  margin: 0px;
}